# Project : Child Mind Institute - Problematic Internet Use

In [99]:
#import lib
import pandas as pd
import numpy as np

In [105]:
train_df = pd.read_csv("data/train.csv")
test_df = pd.read_csv("data/test.csv")

In [107]:
train_df.head()

,id,Basic_Demos-Enroll_Season,Basic_Demos-Age,Basic_Demos-Sex,CGAS-Season,CGAS-CGAS_Score,Physical-Season,Physical-BMI,Physical-Height,Physical-Weight,...,PCIAT-PCIAT_18,PCIAT-PCIAT_19,PCIAT-PCIAT_20,PCIAT-PCIAT_Total,SDS-Season,SDS-SDS_Total_Raw,SDS-SDS_Total_T,PreInt_EduHx-Season,PreInt_EduHx-computerinternet_hoursday,sii
0,00008ff9,Fall,5,0,Winter,51.0,Fall,16.877316,46.0,50.8,...,4.0,2.0,4.0,55.0,NaN,NaN,NaN,Fall,3.0,2.0
1,000fd460,Summer,9,0,NaN,NaN,Fall,14.035590,48.0,46.0,...,0.0,0.0,0.0,0.0,Fall,46.0,64.0,Summer,0.0,0.0
2,00105258,Summer,10,1,Fall,71.0,Fall,16.648696,56.5,75.6,...,2.0,1.0,1.0,28.0,Fall,38.0,54.0,Summer,2.0,0.0
3,00115b9f,Winter,9,0,Fall,71.0,Summer,18.292347,56.0,81.6,...,3.0,4.0,1.0,44.0,Summer,31.0,45.0,Winter,0.0,1.0
4,0016bb22,Spring,18,1,Summer,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [109]:
test_df.head()

,id,Basic_Demos-Enroll_Season,Basic_Demos-Age,Basic_Demos-Sex,CGAS-Season,CGAS-CGAS_Score,Physical-Season,Physical-BMI,Physical-Height,Physical-Weight,...,BIA-BIA_TBW,PAQ_A-Season,PAQ_A-PAQ_A_Total,PAQ_C-Season,PAQ_C-PAQ_C_Total,SDS-Season,SDS-SDS_Total_Raw,SDS-SDS_Total_T,PreInt_EduHx-Season,PreInt_EduHx-computerinternet_hoursday
0,00008ff9,Fall,5,0,Winter,51.0,Fall,16.877316,46.0,50.8,...,32.6909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fall,3.0
1,000fd460,Summer,9,0,NaN,NaN,Fall,14.035590,48.0,46.0,...,27.0552,NaN,NaN,Fall,2.340,Fall,46.0,64.0,Summer,0.0
2,00105258,Summer,10,1,Fall,71.0,Fall,16.648696,56.5,75.6,...,NaN,NaN,NaN,Summer,2.170,Fall,38.0,54.0,Summer,2.0
3,00115b9f,Winter,9,0,Fall,71.0,Summer,18.292347,56.0,81.6,...,45.9966,NaN,NaN,Winter,2.451,Summer,31.0,45.0,Winter,0.0
4,0016bb22,Spring,18,1,Summer,NaN,NaN,NaN,NaN,NaN,...,NaN,Summer,1.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [111]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3960 entries, 0 to 3959
Data columns (total 82 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   id                                      3960 non-null   object
 1   Basic_Demos-Enroll_Season               3960 non-null   object
 2   Basic_Demos-Age                         3960 non-null   int64
 3   Basic_Demos-Sex                         3960 non-null   int64
 4   CGAS-Season                             2555 non-null   object
 5   CGAS-CGAS_Score                         2421 non-null   float64
 6   Physical-Season                         3310 non-null   object
 7   Physical-BMI                            3022 non-null   float64
 8   Physical-Height                         3027 non-null   float64
 9   Physical-Weight                         3076 non-null   float64
 10  Physical-Waist_Circumference            898 non-null    float64
 11  Physical-Diastolic_BP                   2954 non-null   float64
 12  Physical-HeartRate                      2967 non-null   float64
 13  Physical-Systolic_BP                    2954 non-null   float64
 14  Fitness_Endurance-Season                1308 non-null   object
 15  Fitness_Endurance-Max_Stage             743 non-null    float64
 16  Fitness_Endurance-Time_Mins             740 non-null    float64
 17  Fitness_Endurance-Time_Sec              740 non-null    float64
 18  FGC-Season                              3346 non-null   object
 19  FGC-FGC_CU                              2322 non-null   float64
 20  FGC-FGC_CU_Zone                         2282 non-null   float64
 21  FGC-FGC_GSND                            1074 non-null   float64
 22  FGC-FGC_GSND_Zone                       1062 non-null   float64
 23  FGC-FGC_GSD                             1074 non-null   float64
 24  FGC-FGC_GSD_Zone                        1063 non-null   float64
 25  FGC-FGC_PU                              2310 non-null   float64
 26  FGC-FGC_PU_Zone                         2271 non-null   float64
 27  FGC-FGC_SRL                             2305 non-null   float64
 28  FGC-FGC_SRL_Zone                        2267 non-null   float64
 29  FGC-FGC_SRR                             2307 non-null   float64
 30  FGC-FGC_SRR_Zone                        2269 non-null   float64
 31  FGC-FGC_TL                              2324 non-null   float64
 32  FGC-FGC_TL_Zone                         2285 non-null   float64
 33  BIA-Season                              2145 non-null   object
 34  BIA-BIA_Activity_Level_num              1991 non-null   float64
 35  BIA-BIA_BMC                             1991 non-null   float64
 36  BIA-BIA_BMI                             1991 non-null   float64
 37  BIA-BIA_BMR                             1991 non-null   float64
 38  BIA-BIA_DEE                             1991 non-null   float64
 39  BIA-BIA_ECW                             1991 non-null   float64
 40  BIA-BIA_FFM                             1991 non-null   float64
 41  BIA-BIA_FFMI                            1991 non-null   float64
 42  BIA-BIA_FMI                             1991 non-null   float64
 43  BIA-BIA_Fat                             1991 non-null   float64
 44  BIA-BIA_Frame_num                       1991 non-null   float64
 45  BIA-BIA_ICW                             1991 non-null   float64
 46  BIA-BIA_LDM                             1991 non-null   float64
 47  BIA-BIA_LST                             1991 non-null   float64
 48  BIA-BIA_SMM                             1991 non-null   float64
 49  BIA-BIA_TBW                             1991 non-null   float64
 50  PAQ_A-Season                            475 non-null    object
 51  PAQ_A-PAQ_A_Total                       475 non-null    float64
 52  PAQ_C-Season                            1721 non-null   object
 53  PAQ_C-PAQ_C_Total                       1721 non-null   float64
 54  PCIAT-Season                            2736 non-null   object
 55  PCIAT-PCIAT_01                          2733 non-null   float64
 56  PCIAT-PCIAT_02                          2734 non-null   float64
 57  PCIAT-PCIAT_03                          2731 non-null   float64
 58  PCIAT-PCIAT_04                          2731 non-null   float64
 59  PCIAT-PCIAT_05                          2729 non-null   float64
 60  PCIAT-PCIAT_06                          2732 non-null   float64
 61  PCIAT-PCIAT_07                          2729 non-null   float64
 62  PCIAT-PCIAT_08                          2730 non-null   float64
 63  PCIAT-PCIAT_09                          2730 non-null   float64
 64  PCIAT-PCIAT_10                          2733 non-null   float64
 65  PCIAT-PCIAT_11                          2734 non-null   float64
 66  PCIAT-PCIAT_12                          2731 non-null   float64
 67  PCIAT-PCIAT_13                          2729 non-null   float64
 68  PCIAT-PCIAT_14                          2732 non-null   float64
 69  PCIAT-PCIAT_15                          2730 non-null   float64
 70  PCIAT-PCIAT_16                          2728 non-null   float64
 71  PCIAT-PCIAT_17                          2725 non-null   float64
 72  PCIAT-PCIAT_18                          2728 non-null   float64
 73  PCIAT-PCIAT_19                          2730 non-null   float64
 74  PCIAT-PCIAT_20                          2733 non-null   float64
 75  PCIAT-PCIAT_Total                       2736 non-null   float64
 76  SDS-Season                              2618 non-null   object
 77  SDS-SDS_Total_Raw                       2609 non-null   float64
 78  SDS-SDS_Total_T                         2606 non-null   float64
 79  PreInt_EduHx-Season                     3540 non-null   object
 80  PreInt_EduHx-computerinternet_hoursday  3301 non-null   float64
 81  sii                                     2736 non-null   float64
dtypes: float64(68), int64(2), object(12)
memory usage: 2.5+ MB

In [113]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 59 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   id                                      20 non-null     object
 1   Basic_Demos-Enroll_Season               20 non-null     object
 2   Basic_Demos-Age                         20 non-null     int64
 3   Basic_Demos-Sex                         20 non-null     int64
 4   CGAS-Season                             10 non-null     object
 5   CGAS-CGAS_Score                         8 non-null      float64
 6   Physical-Season                         14 non-null     object
 7   Physical-BMI                            13 non-null     float64
 8   Physical-Height                         13 non-null     float64
 9   Physical-Weight                         13 non-null     float64
 10  Physical-Waist_Circumference            5 non-null      float64
 11  Physical-Diastolic_BP                   11 non-null     float64
 12  Physical-HeartRate                      12 non-null     float64
 13  Physical-Systolic_BP                    11 non-null     float64
 14  Fitness_Endurance-Season                4 non-null      object
 15  Fitness_Endurance-Max_Stage             3 non-null      float64
 16  Fitness_Endurance-Time_Mins             3 non-null      float64
 17  Fitness_Endurance-Time_Sec              3 non-null      float64
 18  FGC-Season                              17 non-null     object
 19  FGC-FGC_CU                              13 non-null     float64
 20  FGC-FGC_CU_Zone                         13 non-null     float64
 21  FGC-FGC_GSND                            5 non-null      float64
 22  FGC-FGC_GSND_Zone                       5 non-null      float64
 23  FGC-FGC_GSD                             5 non-null      float64
 24  FGC-FGC_GSD_Zone                        5 non-null      float64
 25  FGC-FGC_PU                              13 non-null     float64
 26  FGC-FGC_PU_Zone                         13 non-null     float64
 27  FGC-FGC_SRL                             13 non-null     float64
 28  FGC-FGC_SRL_Zone                        13 non-null     float64
 29  FGC-FGC_SRR                             13 non-null     float64
 30  FGC-FGC_SRR_Zone                        13 non-null     float64
 31  FGC-FGC_TL                              13 non-null     float64
 32  FGC-FGC_TL_Zone                         13 non-null     float64
 33  BIA-Season                              8 non-null      object
 34  BIA-BIA_Activity_Level_num              8 non-null      float64
 35  BIA-BIA_BMC                             8 non-null      float64
 36  BIA-BIA_BMI                             8 non-null      float64
 37  BIA-BIA_BMR                             8 non-null      float64
 38  BIA-BIA_DEE                             8 non-null      float64
 39  BIA-BIA_ECW                             8 non-null      float64
 40  BIA-BIA_FFM                             8 non-null      float64
 41  BIA-BIA_FFMI                            8 non-null      float64
 42  BIA-BIA_FMI                             8 non-null      float64
 43  BIA-BIA_Fat                             8 non-null      float64
 44  BIA-BIA_Frame_num                       8 non-null      float64
 45  BIA-BIA_ICW                             8 non-null      float64
 46  BIA-BIA_LDM                             8 non-null      float64
 47  BIA-BIA_LST                             8 non-null      float64
 48  BIA-BIA_SMM                             8 non-null      float64
 49  BIA-BIA_TBW                             8 non-null      float64
 50  PAQ_A-Season                            1 non-null      object
 51  PAQ_A-PAQ_A_Total                       1 non-null      float64
 52  PAQ_C-Season                            9 non-null      object
 53  PAQ_C-PAQ_C_Total                       9 non-null      float64
 54  SDS-Season                              10 non-null     object
 55  SDS-SDS_Total_Raw                       10 non-null     float64
 56  SDS-SDS_Total_T                         10 non-null     float64
 57  PreInt_EduHx-Season                     18 non-null     object
 58  PreInt_EduHx-computerinternet_hoursday  16 non-null     float64
dtypes: float64(46), int64(2), object(11)
memory usage: 9.3+ KB

In [115]:
# feature category
features = ["Basic_Demos-Sex","FGC-FGC_CU_Zone","FGC-FGC_GSND_Zone","FGC-FGC_GSD_Zone","FGC-FGC_PU_Zone","FGC-FGC_SRL_Zone","FGC-FGC_SRR_Zone","FGC-FGC_TL_Zone",
            "BIA-BIA_Activity_Level_num","BIA-BIA_Frame_num","PCIAT-PCIAT_01","PCIAT-PCIAT_02","PCIAT-PCIAT_03","PCIAT-PCIAT_04","PCIAT-PCIAT_05","PCIAT-PCIAT_06",
            "PCIAT-PCIAT_07","PCIAT-PCIAT_08","PCIAT-PCIAT_09","PCIAT-PCIAT_10","PCIAT-PCIAT_11","PCIAT-PCIAT_12","PCIAT-PCIAT_13","PCIAT-PCIAT_14","PCIAT-PCIAT_15",
            "PCIAT-PCIAT_16","PCIAT-PCIAT_17","PCIAT-PCIAT_18","PCIAT-PCIAT_19","PCIAT-PCIAT_20","PreInt_EduHx-computerinternet_hoursday"]
def convert_cate(df, features):
    for i in features:
        if i in df.columns:
            df[i] = df[i].astype("category")
convert_cate(test_df, features)
convert_cate(train_df, features)

In [117]:
# feature float64
features = ["Basic_Demos-Age","Physical-BMI","Physical-Height","Physical-Weight","FGC-FGC_GSND","FGC-FGC_GSD","FGC-FGC_SRL","FGC-FGC_SRR","BIA-BIA_BMC",
           "BIA-BIA_BMI","BIA-BIA_BMR","BIA-BIA_DEE","BIA-BIA_ECW","BIA-BIA_FFM","BIA-BIA_FFMI","BIA-BIA_FMI","BIA-BIA_Fat","BIA-BIA_ICW","BIA-BIA_LDM",
           "BIA-BIA_LST","BIA-BIA_SMM","BIA-BIA_TBW","PAQ_A-PAQ_A_Total","PAQ_C-PAQ_C_Total"]
def convert_float(df, features):
    for i in features:
        if i in df.columns:
            df[i] = df[i].astype("float64")
convert_float(test_df, features)
convert_float(train_df, features)

In [119]:
# feature string
features = ["id","Basic_Demos-Enroll_Season","CGAS-Season","Physical-Season","FGC-Season","BIA-Season","PAQ_A-Season","PAQ_C-Season","PCIAT-Season","SDS-Season","PreInt_EduHx-Season"]
def convert_string(df, features):
    for i in features:
        if i in df.columns:
            df[i] = df[i].astype("string")
convert_string(test_df, features)
convert_string(train_df, features)

In [121]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 59 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   id                                      20 non-null     string
 1   Basic_Demos-Enroll_Season               20 non-null     string
 2   Basic_Demos-Age                         20 non-null     float64
 3   Basic_Demos-Sex                         20 non-null     category
 4   CGAS-Season                             10 non-null     string
 5   CGAS-CGAS_Score                         8 non-null      float64
 6   Physical-Season                         14 non-null     string
 7   Physical-BMI                            13 non-null     float64
 8   Physical-Height                         13 non-null     float64
 9   Physical-Weight                         13 non-null     float64
 10  Physical-Waist_Circumference            5 non-null      float64
 11  Physical-Diastolic_BP                   11 non-null     float64
 12  Physical-HeartRate                      12 non-null     float64
 13  Physical-Systolic_BP                    11 non-null     float64
 14  Fitness_Endurance-Season                4 non-null      object
 15  Fitness_Endurance-Max_Stage             3 non-null      float64
 16  Fitness_Endurance-Time_Mins             3 non-null      float64
 17  Fitness_Endurance-Time_Sec              3 non-null      float64
 18  FGC-Season                              17 non-null     string
 19  FGC-FGC_CU                              13 non-null     float64
 20  FGC-FGC_CU_Zone                         13 non-null     category
 21  FGC-FGC_GSND                            5 non-null      float64
 22  FGC-FGC_GSND_Zone                       5 non-null      category
 23  FGC-FGC_GSD                             5 non-null      float64
 24  FGC-FGC_GSD_Zone                        5 non-null      category
 25  FGC-FGC_PU                              13 non-null     float64
 26  FGC-FGC_PU_Zone                         13 non-null     category
 27  FGC-FGC_SRL                             13 non-null     float64
 28  FGC-FGC_SRL_Zone                        13 non-null     category
 29  FGC-FGC_SRR                             13 non-null     float64
 30  FGC-FGC_SRR_Zone                        13 non-null     category
 31  FGC-FGC_TL                              13 non-null     float64
 32  FGC-FGC_TL_Zone                         13 non-null     category
 33  BIA-Season                              8 non-null      string
 34  BIA-BIA_Activity_Level_num              8 non-null      category
 35  BIA-BIA_BMC                             8 non-null      float64
 36  BIA-BIA_BMI                             8 non-null      float64
 37  BIA-BIA_BMR                             8 non-null      float64
 38  BIA-BIA_DEE                             8 non-null      float64
 39  BIA-BIA_ECW                             8 non-null      float64
 40  BIA-BIA_FFM                             8 non-null      float64
 41  BIA-BIA_FFMI                            8 non-null      float64
 42  BIA-BIA_FMI                             8 non-null      float64
 43  BIA-BIA_Fat                             8 non-null      float64
 44  BIA-BIA_Frame_num                       8 non-null      category
 45  BIA-BIA_ICW                             8 non-null      float64
 46  BIA-BIA_LDM                             8 non-null      float64
 47  BIA-BIA_LST                             8 non-null      float64
 48  BIA-BIA_SMM                             8 non-null      float64
 49  BIA-BIA_TBW                             8 non-null      float64
 50  PAQ_A-Season                            1 non-null      string
 51  PAQ_A-PAQ_A_Total                       1 non-null      float64
 52  PAQ_C-Season                            9 non-null      string
 53  PAQ_C-PAQ_C_Total                       9 non-null      float64
 54  SDS-Season                              10 non-null     string
 55  SDS-SDS_Total_Raw                       10 non-null     float64
 56  SDS-SDS_Total_T                         10 non-null     float64
 57  PreInt_EduHx-Season                     18 non-null     string
 58  PreInt_EduHx-computerinternet_hoursday  16 non-null     category
dtypes: category(11), float64(37), object(1), string(10)
memory usage: 9.3+ KB

In [130]:
train_df.describe()

,Basic_Demos-Age,CGAS-CGAS_Score,Physical-BMI,Physical-Height,Physical-Weight,Physical-Waist_Circumference,Physical-Diastolic_BP,Physical-HeartRate,Physical-Systolic_BP,Fitness_Endurance-Max_Stage,...,BIA-BIA_LDM,BIA-BIA_LST,BIA-BIA_SMM,BIA-BIA_TBW,PAQ_A-PAQ_A_Total,PAQ_C-PAQ_C_Total,PCIAT-PCIAT_Total,SDS-SDS_Total_Raw,SDS-SDS_Total_T,sii
count,3960.000000,2421.000000,3022.000000,3027.000000,3076.000000,898.000000,2954.000000,2967.000000,2954.000000,743.000000,...,1991.00000,1991.000000,1991.000000,1991.000000,475.000000,1721.000000,2736.000000,2609.000000,2606.000000,2736.000000
mean,10.433586,65.454771,19.331929,55.946713,89.038615,27.278508,69.648951,81.597236,116.983074,4.989233,...,20.02299,67.301883,34.389466,53.998726,2.178853,2.589550,27.896199,41.088923,57.763622,0.580409
std,3.574648,22.341862,5.113934,7.473764,44.569040,5.567287,13.611226,13.665196,17.061225,2.014072,...,70.21561,108.705918,84.050607,129.362539,0.849476,0.783937,20.338853,10.427433,13.196091,0.771122
min,5.000000,25.000000,0.000000,33.000000,0.000000,18.000000,0.000000,27.000000,0.000000,0.000000,...,4.63581,23.620100,4.655730,20.589200,0.660000,0.580000,0.000000,17.000000,38.000000,0.000000
25%,8.000000,59.000000,15.869350,50.000000,57.200000,23.000000,61.000000,72.000000,107.000000,4.000000,...,12.98315,45.204100,21.141550,35.887000,1.490000,2.020000,12.000000,33.000000,47.000000,0.000000
50%,10.000000,65.000000,17.937682,55.000000,77.000000,26.000000,68.000000,81.000000,114.000000,5.000000,...,16.43880,56.996400,27.415100,44.987000,2.010000,2.540000,26.000000,39.000000,55.000000,0.000000
75%,13.000000,75.000000,21.571244,62.000000,113.800000,30.000000,76.000000,90.500000,125.000000,6.000000,...,22.16760,77.105650,38.179400,60.271050,2.780000,3.160000,41.000000,46.000000,64.000000,1.000000
max,22.000000,999.000000,59.132048,78.500000,315.000000,50.000000,179.000000,138.000000,203.000000,28.000000,...,3108.17000,4683.710000,3607.690000,5690.910000,4.710000,4.790000,93.000000,96.000000,100.000000,3.000000

# Distribution of Numerical Feature

In [132]:
train_df.describe(include = ['category'])

,Basic_Demos-Sex,FGC-FGC_CU_Zone,FGC-FGC_GSND_Zone,FGC-FGC_GSD_Zone,FGC-FGC_PU_Zone,FGC-FGC_SRL_Zone,FGC-FGC_SRR_Zone,FGC-FGC_TL_Zone,BIA-BIA_Activity_Level_num,BIA-BIA_Frame_num,...,PCIAT-PCIAT_12,PCIAT-PCIAT_13,PCIAT-PCIAT_14,PCIAT-PCIAT_15,PCIAT-PCIAT_16,PCIAT-PCIAT_17,PCIAT-PCIAT_18,PCIAT-PCIAT_19,PCIAT-PCIAT_20,PreInt_EduHx-computerinternet_hoursday
count,3960,2282.0,1062.0,1063.0,2271.0,2267.0,2269.0,2285.0,1991.0,1991.0,...,2731.0,2729.0,2732.0,2730.0,2728.0,2725.0,2728.0,2730.0,2733.0,3301.0
unique,2,2.0,3.0,3.0,2.0,2.0,2.0,2.0,5.0,3.0,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,4.0
top,0,0.0,2.0,2.0,0.0,1.0,1.0,1.0,3.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
freq,2484,1195.0,633.0,655.0,1521.0,1403.0,1407.0,1795.0,698.0,940.0,...,2141.0,999.0,1285.0,951.0,937.0,791.0,824.0,1119.0,1248.0,1524.0

# Distribution of Category Feature